.frame{
    display: flex;
    flex-direction: column;
    padding:30px;
}


.top2{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-around;
    
}

.click{
    display: flex;
    justify-content: space-around;
    
}
.btn{
    display: flex;
    flex-direction: row;
}

.middle2{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 95px;
    margin-right: 95px;
}

.middle_IP{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 10px;
}

.middle_Box{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 20px;
    padding: 20px;
    background-color: #F9F9F9;
}

.middle_BoxH{
    display: flex;
    margin-top: 15px;

}
.virtual_Box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;

}

.middle_BoxN{
    display: flex;
    flex-direction: row;
   
    margin-top: 15px;
    float: right;
    
}

.middle_BoxE{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 20px;
}


.middle_BoxB{
    display: flex;
    justify-content: center;
    margin-top: 17px;
}



.bottom2{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
} 









