.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.loginWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 1300px;
    padding: 20px;
}
.top{
    display: flex;
    height:70px;
    width:auto;
    justify-content: center;
    margin-bottom: 15px;
}
.middle{
    display: flex;
    padding:20px;
    width: 1000px;
    border:2px solid black;
    background-color: #F9F9F9;
    flex-direction: row;
    justify-content: space-between;
    height: 465px;
    padding-left: 20px;
    padding:10px;
}
.middle_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width:400px;
    height: 400px;
}
.title{
    display: flex;
    font-size: 17px;
    font-weight: bold;
    padding:2px;
    width: auto;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}
.aa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;justify-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3px;
}
.aa1{
    display: flex;
    width: fit-content;
    height: fit-content;
}
.aa2{
    display: flex;
    margin-left: 8px;
    width: 300px;
    height: 30px;
}

.bb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3px;
}
.bb1{
    display: flex;
    width: fit-content;
    height: fit-content;
}
.bb2{
    display: flex;
    margin-left: 8px;
    width: 300px;
    height: 33px;
}

.cc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: auto;
    margin-top: 8px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.middle_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width:400px;
    height: 400px;
    
}
.title1{
    display: flex;
    font-size: 17px;
    font-weight: bold;
    padding:2px;
    width: auto;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}
.aaa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;justify-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3px;
}
.aaa1{
    display: flex;
    width: fit-content;
    height: fit-content;
}
.aaa2{
    display: flex;
    margin-left: 8px;
    width: 300px;
    height: 33px;
}

.bbb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3px;
    margin-right: 20px;
}
.bbb1{
    display: flex;
    width: fit-content;
    height: fit-content;
}
.bbb2{
    display: flex;
    margin-left: 8px;
    width: 300px;
    height: 33px;
}

.ccc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: auto;
    margin-top: 8px;
    margin-left: 20px;
    margin-bottom: 10px;
}


.bottom{
    margin-top: 30px;
}


