.main_frame{
    display: flex;
    flex-direction: column;
    padding:40px;
}

.main_top{
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
    justify-content: space-around;
}

.main_click{
    display: flex;
    justify-content: space-around;
    
}
.main_btn{
    display: flex;
    flex-direction: row;
}
  .content{
    display: flex;
    flex-direction: column;
    width:'1000px';
    height:'800px';
    align-items: center;
    justify-items: center;
  }
  .step{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;

  }
  .step1{
    display: flex;
    flex-direction: row;
  }
  .step2{
    display: flex;
    flex-direction: row;
  }
  .step3{
    display: flex;
    flex-direction: row;
    
    
  }
  .ag {
    display: flex;
    width: 800px;
    background-color: #F9F9F9;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
  }
  .in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width:800px;
    height: 400px;
  }
  
  .bottom {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
  }
  