.campaign-detail {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 30px;
  margin: 30px 0;
}

.campaign-detail__info__carousel-item {
  height: 200px;
}

.campaign-detail__info__carousel-item img {
  width: 100%;
  object-fit: cover;
}

.campaign-detail__info__progress {
  margin-top: 20px;
}

.campaign-detail__info__progress__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.campaign-detail__info__progress__detail div:nth-child(1) {
  font-weight: 700;
}

.campaign-detail__info__price {
  margin-top: 30px;
}

.campaign-detail__info__price div:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 700;
}

.campaign-detail__info__button {
  margin-top: 30px;
}

.campaign-detail__info__button {
  display: flex;
  flex-direction: column;
}

.campaign-detail__info__button button {
  padding: 10px 0;
  border-radius: 10px;
  border: 0;
  background: rgb(11, 59, 179);
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
}

.campaign-detail__info__button label {
  display: flex;
  align-items: center;
  margin-top: 10px;
  line-height: 1.4;
}

.campaign-detail__info__button label input {
  margin-right: 5px;
}

.campaign-detail__content__tab {
  display: flex;
  margin-bottom: 30px;
}

.campaign-detail__content__tab div {
  font-size: 1.2rem;
  cursor: pointer;
}

.campaign-detail__content__tab div + div {
  margin-left: 20px;
}

.campaign-detail__content__tab div.active {
  color: red;
  font-weight: 700;
}

/* 소개 탭 스타일 */
.introduce_title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.introduce_sub_title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

* + .introduce_sub_title {
  margin-top: 20px;
}

/* 사용계획 탭 스타일 */
.usage_plan_title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.usage_plan_table {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
}

.usage_plan_table_head {
  display: grid;
  grid-template-columns: 150px 1fr;
  padding: 15px 20px;
  background: #fcfcfe;
}

.usage_plan_table_head span {
  font-weight: 700;
  color: #4ca845;
}

.usage_plan_table_item {
  display: grid;
  grid-template-columns: 150px 1fr auto;
  padding: 15px 20px;
}

.usage_plan_table_head + .usage_plan_table_item,
.usage_plan_table_item + .usage_plan_table_item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* 소식 탭 스타일 */
.news_item {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 20px;
}

.news_item div {
  padding: 10px;
}

.news_item div:nth-child(1) {
  text-align: center;
  background: #b6b7eb;
}

.news_item div:nth-child(2) {
  border: 1px solid black;
}

.news_item + .news_item {
  margin-top: 20px;
}
