.frame2{
    display: flex;
    flex-direction: column;
    padding:30px;
}


.top3{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-around;
    
}

.click1{
    display: flex;
    justify-content: space-around;
    
}
.btn1{
    display: flex;
    flex-direction: row;
}


.middle3{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 95px;
    margin-right: 95px;
}

.middle_IP2{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 10px;
}

.middle_Box2{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: #F9F9F9;
    width:500px;
    height: 300px;
    justify-content: center;
    margin-top: 20px;
    padding: 50px;
    white-space: pre-wrap;
}
.text{
    display: flex;
    margin-left: 100px;
    

}
.text2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.middle_BoxB2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    font-weight: bold;



}




.bottom3{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
} 