.individual_form {
  width: 500px;
  margin: 30px auto 0;
}

.id_form {
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-gap: 10px;
}

.ant-form-item {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.ant-form-item-label {
  text-align: left;
}

.individual_form .ant-form-item:nth-child(7),
.individual_form .ant-form-item:nth-child(8) {
  display: flex;
}

.individual_form
  .ant-form-item:nth-child(8)
  .ant-form-item-control-input-content {
  display: flex;
  justify-content: center;
}
