.registration_progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registration_progress__step > div:nth-child(1) {
  font-size: 15px;
}

.registration_progress__step > div:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
}

.registration_progress .active {
  color: red;
}

.registration_progress__step + .registration_progress__step {
  margin-left: 100px;
}
